{% extends "base.html" %} {% block head %} View {% endblock %} {% block main %}
<div class="ml-24 mr-24">
  <div class="float-left">
    {% for chat in chats %} {% if forloop.counter > 1 %} {% else %}
    <p>From: {{chat.sent_from.username}} <br />To: {{chat.sent_to.username}}</p>
    {% endif %}
    <p class="font-semibold text-xl text-green-600">
      {{forloop.counter}}. {{chat.text}}
    </p>
    <br />
    {% endfor %}
  </div>
  <div class="float-right">
    {% for chat in received %} {% if forloop.counter > 1 %} {% else %}
    <p>From: {{chat.sent_from.username}} <br />To: {{chat.sent_to.username}}</p>
    {% endif %}
    <p class="font-semibold text-xl text-blue-600">
      {{forloop.counter}}. {{chat.text}}
    </p>
    <br />
    {% endfor %}
  </div>
</div>
{% endblock %}
